.MMM-Homematic .red {
    color: red;
}

.MMM-Homematic .green {
    color: green;
}

.MMM-Homematic .blue {
    color: blue;
}

.MMM-Homematic .yellow {
    color: yellow;
}

.MMM-Homematic .white {
    color: white;
}

.MMM-Homematic .hide {
	display: none;
}